.vs/
bin/
obj/
*.user
*.suo
*.userprefs
*.nupkg
TestResults/
packages/
publish/
.idea/
*.DotSettings.user
*.secret.json
appsettings.Local.json
local.settings.json
*.pfx
*.snk
logs/
*.log
CorelMate.local.json